now/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>What Is Free Doing Now?</title><link rel="stylesheet" href="../style.css"></head><body> <img id="floof" src="../assets/blobfox/blobfoxfloof.svg" alt="" loading="lazy"><div class="scroller"> <div class="bg"> <h1 class="animate" aria-label="/now"><span aria-hidden="true"><span contenteditable>/</span></span><span aria-hidden="true"><span contenteditable>N</span></span><span aria-hidden="true"><span contenteditable>o</span></span><span aria-hidden="true"><span contenteditable>w</span></span></h1></div><div id="hero"><svg class="wave_lol" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="-684.969 -619.243 3377.446 2563.268" style="-webkit-print-color-adjust: exact;" fill="none" version="1.1"><g id="shape-c1146dd0-31d5-11ed-bc28-d9982ab34c2f"><g id="fills-c1146dd0-31d5-11ed-bc28-d9982ab34c2f"><path rx="0" ry="0" d="M2692.477,1069.262L1958.498,170.824C1958.498,170.824,1958.498,170.824,1958.498,170.824C1210.933,183.809,1340.432,368.27,972.63,430.866C735.248,471.266,633.979,595.778,500.425,560.008C41.372,437.057,117.555,10.163,117.555,10.163L-436.183,1069.262L2692.477,1069.262Z" style="fill-opacity: 1;"/></g></g></svg><section id="info"> <div> <div class="pfp filter-glow low"><input id="boop" type="checkbox" name="boop" aria-label="Boop Freeplay"><img class="pfp" src="../assets/blobfox/blobfoxfloofhappy.svg" alt="Blob Fox Floof Happy"><img class="pfp" src="../assets/blobfox/blobfoxboopfloof.svg" alt="Blob Fox Floof Boop"><img class="pfp" src="../assets/blobfox/blobfoxfloofcute.svg" alt="Blob Fox Floof Boop"></div><h1 class="glow">Freeplay </h1><p>The privacy-respecting foxxo that likes modern UI & contributing to open-source<span class="hide glow"> (and foxes !! 1!)</span></p><div class="links"> <a class="button" href="/" target="_self"><span>To Homepage</span><br/><span class="tooltip"></span></a></div></div></section></div><div class="sections"> <section class="section"> <div class="heading"> <h1>What am I doing now?</h1><p>Scroll Down to Read More!</p></div><img id="foxo" src="../assets/blobfox/blobfoxfloof.svg" alt="BlobFox Floof Emoji" width="300" height="300"></section></div></div><style>.heading {
	font-size: 30px;
	margin-top: 100px;
	margin-block: 20vh 100vh;
	text-align: center;
}
.sections {
	padding-bottom: 30vh;
}</style></body></html>

now/index.pug
include ../assets/svg.pug
include ../components.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title What Is Free Doing Now?
		link(rel="stylesheet", href="../style.css")
	body 
		img#floof(src="../assets/blobfox/blobfoxfloof.svg", alt="", loading="lazy")
		.scroller 
			.bg 
				h1.animate(aria-label="/now")
					span(aria-hidden="true"): span(contenteditable) /
					span(aria-hidden="true"): span(contenteditable) N
					span(aria-hidden="true"): span(contenteditable) o
					span(aria-hidden="true"): span(contenteditable) w
			#hero
				+wave_lol() 
				section#info 
					div 
						//- UUuuuhh am gonna need a better way to make multiple pages at some point lol
						.pfp.filter-glow.low
							input#boop(type="checkbox", name="boop", aria-label="Boop Freeplay")
							img.pfp(src="../assets/blobfox/blobfoxfloofhappy.svg", alt="Blob Fox Floof Happy")
							img.pfp(src="../assets/blobfox/blobfoxboopfloof.svg", alt="Blob Fox Floof Boop")
							img.pfp(src="../assets/blobfox/blobfoxfloofcute.svg", alt="Blob Fox Floof Boop")
						h1.glow Freeplay 
						p The privacy-respecting foxxo that likes modern UI & contributing to open-source
							span.hide.glow  (and foxes !! 1!)
						.links 
							+button("To Homepage", "", "/", null, true)

			.sections 
				section.section 
					.heading 
						h1 What am I doing now?
						p Scroll Down to Read More!


					img#foxo(src="../assets/blobfox/blobfoxfloof.svg", alt="BlobFox Floof Emoji", width="300", height="300")

		style.
			.heading {
				font-size: 30px;
				margin-top: 100px;
				margin-block: 20vh 100vh;
				text-align: center;
			}
			.sections {
				padding-bottom: 30vh;
			}
